.contFormGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    padding-bottom: 59px;
    height: 100%;
    width: 100%;
    max-width: 1120px;
}

.contFlexColumn {
    width: 324px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    letter-spacing: -0.005em;
    color: #2f395c;
}

.contSectionOne {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.contOne {
    width: 1046px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.wrapperLabelInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: -10px;
}

.contFlexColumn1 {
    width: 1055.13px;
    margin-top: 20px;
    gap: 35px;
    display: flex;
    justify-content: center;
}

.contUbicacion {
    width: 100%;
    margin-top: 32px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contBoxAuxUbicacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.contBoxTwo {
    width: 1046px;
    display: flex;
    gap: 35px;
    justify-content: flex-start;
    align-items: flex-start;
}

.contBoxIntersectionAux {
    display: flex;
    width: 850px;
    gap: 34px;
}

.boxAux {
    display: flex;
    gap: 34px;
}

.contMap {
    margin-top: 32px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media only screen and (max-width: 1270px) and (min-width: 280px) {
    .contFormGeneral {
        height: -webkit-fill-available;
        width: -webkit-fill-available;
    }

    .contFlexColumn {
        width: -webkit-fill-available;
    }

    .contOne {
        width: -webkit-fill-available;
    }

    .contMap {
        width: -webkit-fill-available;
    }
}

@media only screen and (min-width: 360px) and (max-width: 766px) {
    .contFormGeneral {
        margin-top: 15px;
        padding-bottom: 0px;
    }

    .contFlexColumn {
        margin-top: 0px;
    }

    .contSectionOne {
        border: 1.5px solid #e0def7;
        border-radius: 8px;
        padding: 20px 15px;
    }

    .contOne {
        width: -webkit-fill-available;
        gap: 16px;
    }

    .contFlexColumn1 {
        width: -webkit-fill-available;
        flex-direction: column;
        margin-top: 15px;
        gap: 15px;
    }

    .contUbicacion {
        width: -webkit-fill-available;
        flex-direction: column;
        border-radius: 8px;
    }

    .contBoxAuxUbicacion {
        width: -webkit-fill-available;
        border: 1.5px solid #e0def7;
        flex-direction: column;
        border-radius: 8px;
        padding: 20px 15px;
    }

    .contBoxTwo {
        flex-direction: column;
        width: -webkit-fill-available;
        gap: 15px;
    }

    .contBoxIntersectionAux {
        display: flex;
        gap: 17px;
        width: -webkit-fill-available;
    }

    .boxAux {
        display: flex;
        gap: 16px;
        width: 100%;
    }

}

@media only screen and (min-width: 767px) and (max-width: 1270px) {
    .contFlexColumn1 {
        width: -webkit-fill-available;
        flex-direction: column;
        gap: 16px;
    }

    .contBoxAuxUbicacion {
        width: -webkit-fill-available;
    }

    .contBoxTwo {
        width: -webkit-fill-available;

    }
}