.contGeneralForm {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.08);
    padding: 1.7rem !important;
    border-radius: 8px;
}

.contForm {
    display: flex;
    flex-direction: column;
    gap: 16px !important;
    padding-top: 0.75rem !important;
}

.inputForm {
    display: flex;
    width: 119px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #e0def7;
    height: 45px;
    padding: 0px 6px !important;
}

.inputPhone {
    display: flex;
    width: -webkit-fill-available;
    outline: none;
    border-radius: 8px;
    border: 1px solid #e0def7;
    height: 45px;
    padding: 0px 6px !important;
}

.inputForm::placeholder {
    color: var(--Main-Color-Black, #2F395C);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    opacity: 0.5;
}