.textMessage {
    font-weight: 500;
    font-size: 10px;
    /* color: ${(prop) => (prop?.errorProp?.length ? "red" : "#000929")}; */
    color: #000929;
    text-align: end;
}

.valueInvalid {
    color: red
}

@media only screen and (max-width: 766px) {
    .textMessage {
        font-size: 12px;
    }
}