.contGeneralCard {
    width: 350px;
    /* margin-left: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: transform 0.5s, box-shadow 0.5s, scale 0.5s;
    cursor: pointer;
}

.contGeneralCard:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transform: scale(1.01);
}

.contGeneralCard:active {
    transform: scale(1);
}

.contImageCard {
    display: flex;
    width: 350px;
    height: 250px;
    position: relative;
}

.mainImage {
    border-radius: 8px 8px 0px 0px;
    height: 250px;
    object-fit: cover;
}

.cardItem {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 15px;
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
}

.venta {
    background-color: #1A1A1A;
}

.alquiler {
    background-color: #FCA640;
}

.contInfoCard {
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
    gap: 12px;
}

.contAuxInfoCard {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.contAllAtributtes {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.contAtributte {
    display: flex;
    justify-content: space-between;
    width: auto;
    gap: 4px;
}

@media only screen and (max-width: 360px) {
    .contGeneralCard {
        width: 300px;
    }

    .contImageCard {
        width: 100%;
        height: 200px;
    }

    .mainImage {
        height: 200px;
    }
}